* {
    box-sizing: border-box;
     background-color: black; 
} 


.division {
    display: block;
    width: 30%;
    margin: 
    auto;
    padding: 25px;
}

.screen {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
  font-size: 50px;
  font-family: inherit;
  width: 100%;
  border: 3px solid white;
  outline: 0;
  font-size: 1.3rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  border-radius: 15px;
  
}

.btn {
    background-color: #505050; /* Green */
    border: 50px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    display: inline;
    margin: 5px;
    border-radius: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#op {
    background-color: #FF9500;
    font: bolder;
}

#YWRuYW5lIHdhcyBoZXJl {
    background-color: #D4D4D2;
    color: black;
}


.btn:hover {
    background-color:  #F2F3F5;
    color: black;
}

#op:hover {
    background-color: white;
    color: black;
}

#YWRuYW5lIHdhcyBoZXJl:hover {
    background-color: gray;
    color: white;
}